Source: libprecisionadc
Section: main
Priority: extra
XBSC-Group: Libraries
XBSC-SubGroup: Analog
XBSC-SubSubgroup: ADC
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libprecisionadc
Architecture: all
Provides: PrecisionADC.h
Description: PrecisionADC library

