Source: libprecisionadc
Section: libraries
Priority: extra
XBSC-Group: Analog
XBSC-Subgroup: ADC
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libprecisionadc
Architecture: all
Provides: PrecisionADC.h
Description: PrecisionADC library

